.containers {
  color: green;
}

.controlled {
  color: blue;
  text-decoration: underline;
}

.status {
  color: green;
}

.span1 {
  color: blue;
  text-decoration: underline;
}

.span2 {
  color: green;
}

.span3 {
  color: blue;
  text-decoration: underline;
}
